.link__active {
    color: #FF6838;
}

.hide {
    display: none;
}

.visible {
    display: block;
}

.orange__span {
    color: #FF6838;
}

.fixed {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.842);
    z-index: 100;
}

.small__span {
    font-size: 10px;
}

.ttr {
    text-transform: uppercase;
}